[Unit]

Description=Tomcat

After=network.target



[Service]

Type=forking

Environment="JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64/"

Environment="CATALINA_HOME=/home/vagrant/u02/middleware/apache-tomcat-9.0.70/"

ExecStart=/home/vagrant/u02/middleware/apache-tomcat-9.0.70/bin/startup.sh

ExecStop=/home/vagrant/u02/middleware/apache-tomcat-9.0.70/bin/shutdown.sh

Restart=always

Restart=always


[Install]

WantedBy=multi-user.target
